<div class="container row">
  
  <div class="col-lg-6">
     <div>
        <h3>Use this form below to add a new bucket list goal.</h3>
        <form>
          <input type="text" class="txt" name="item" placeholder="Life goal..." [(ngModel)] ="goalText">
          <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
        </form>
      </div>
  </div>

  <div class="col-lg-6" [@goals]="goals.length">
      <div>
          <h4>Add bucket list item</h4>
      </div>
      <div>
        <h4>Your bucket list ({{ itemCount }})</h4>
      </div>

      <div>
        <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
            {{ goal }}
        </p>
      </div>
  </div>

</div>